<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>

  <div id="app">
    <ul>
      <!-- <li v-for="item in names">{{item}}</li> -->
      <li v-for="(item,index) in names">{{item}}---{{index + 1}}</li>
    </ul>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        names: ['kobe', 'zhc', 'ftd', '如花说我帅']
      },
      methods: {},
    })
  </script>

</body>

</html>