<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>

  <div id="app">
    <ul>
      <!-- <li v-for="value in info">{{value}}</li> -->
      <li v-for="(value,key,index) in info">{{value}}-{{key}}-{{index}}</li>
    </ul>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        info: {
          name: 'zhc',
          age: 18,
          height: '1.89'
        }
      },
      methods: {},
    })
  </script>

</body>

</html>